.jumbotron {
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  color: #2980b9;
  margin-top: 50px;
}

.card-title {
  color: purple;
}

.card-maquina {
  flex: 1 150px;
  margin-top: 10px;
}

.btn-maquina {
  width: 100%;
  border-radius: 0px;
  background-color: #2980b9;
  color: white;
}

footer {
  color: purple;
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
}

footer a {
  color: purple;
}

.footer-address-icon {
  padding-right: 10px;
}

.card-img-top {
  height: 150px;
}

.tab-content {
  padding-top: 10px;
}

.modal-header {
  background: #2980b9;

  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);

  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
}
